.dialog-content
    margin: auto
    display: block
    padding: 40px

.dialog h2
    text-align: center

.dialog p
    text-align: center
    font-size: 22px

.dialog button
    margin: auto
    display: block
    margin-top: 10px
    font-size: 18px