<div class="login">
  <h2>Ingrese con su usuario</h2>
      <form [formGroup]='formLogin' (ngSubmit)='submit()' method="POST" class="form-inputs">
        <mat-form-field appearance="outline">
          <mat-label>Ingrese su correo electrónico</mat-label>
          <input 
          matInput 
          placeholder="Correo electrónico" 
          [class.is-danger]='validate("email")'
          type='email'
          formControlName='email'
          >
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Ingrese su contraseña</mat-label>
          <input 
          matInput 
          placeholder="Contraseña"
          [class.is-danger]='validate("password")'
          type='password' 
          formControlName='password'
          >
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
        <br>
      <button 
        (click)="submit()" 
        class="btn-login" 
        mat-raised-button color="primary"
        type='submit' [disabled]='!formLogin.valid'
        >Acceder</button>
    </form>
</div>
