<mat-card class="tablero mat-elevation-z15">
  <img *ngFor='let card of board.cards' [class.selected]='card.pivot.selected'
  class="imagen col" data-id="{{card.id}}" (click)="onCardSelect(card.id)"
  src="{{'http://127.0.0.1:3333/'+card.path}}">
</mat-card>

<img class='carta mat-elevation-z15' src="{{'http://127.0.0.1:3333/' + currCard}}">
<mat-card class="ganar">
	<h1>¿Ganaste?</h1>
	<button mat-raised-button [disabled]='!winButtons' (click)="onWin('loteria')" class="col">Loteria</button>
	<button mat-raised-button [disabled]='!winButtons' (click)="onWin('centro')" class="col">Centro</button>
	<button mat-raised-button [disabled]='!winButtons' (click)="onWin('full')" class="col">Llena</button>
</mat-card>
