<!-- Ejercicio 5 -->
<div class="container-loteria">
    <div>
        <button id="loteria-play" (click)="loteria_play()">
            Empezar a jugar
        </button>
    </div>
    <div>
        <img #loteriaCarta id="loteria-carta" class="loteria-carta-principal" src="http://images.ctfassets.net/yadj1kx9rmg0/wtrHxeu3zEoEce2MokCSi/cf6f68efdcf625fdc060607df0f3baef/quwowooybuqbl6ntboz3.jpg" alt="">
        <!-- <img #loteriaCarta id="loteria-carta" class="loteria-carta-principal" [src]="{{ imgMain }}" alt=""> -->
    </div>
    <div>
        <button onclick="ganar()">
            Ganar Lineal
        </button>
        <button>
            Ganar Horizontal
        </button>
        <button>
            Ganar no se que
        </button>
        <button>
            Ganar centro
        </button>
    </div>
    <div>
        <div class="loteria-grids container1">
            <!-- En el método comprobar_carta le envío toda la etiqueta imagen -->
            <!-- Usando el id #loteriaCarta1 -->
            <div class="btn-cards" id="div1" (click)="comprobar_carta(loteriaCarta1)">
                <img #loteriaCarta1 class="loteria-image active" id="loteria-carta1" src="" alt="">
            </div>
            <div class="btn-cards" id="div2" (click)="comprobar_carta(loteriaCarta2)">
                <img #loteriaCarta2 class="loteria-image" id="loteria-carta2" src="" alt="">
            </div>
            <div class="btn-cards" id="div3" (click)="comprobar_carta(loteriaCarta3)">
                <img #loteriaCarta3 class="loteria-image" id="loteria-carta3" src="" alt="">
            </div>
        </div>
        <div class="loteria-grids container2">
            <div class="btn-cards" id="div4" (click)="comprobar_carta(loteriaCarta4)">
                <img #loteriaCarta4 class="loteria-image" id="loteria-carta4" src="" alt="">
            </div>
            <div class="btn-cards" id="div5" (click)="comprobar_carta(loteriaCarta5)">
                <img #loteriaCarta5 class="loteria-image" id="loteria-carta5" src="" alt="">
            </div>
            <div class="btn-cards" id="div6" (click)="comprobar_carta(loteriaCarta6)">
                <img #loteriaCarta6 class="loteria-image" id="loteria-carta6" src="" alt="">
            </div>
        </div>
        <div class="loteria-grids container3">
            <div class="btn-cards" id="div7" (click)="comprobar_carta(loteriaCarta7)">
                <img #loteriaCarta7 class="loteria-image" id="loteria-carta7" src="" alt="">
            </div>
            <div class="btn-cards" id="div8" (click)="comprobar_carta(loteriaCarta7)">
                <img #loteriaCarta7 class="loteria-image" id="loteria-carta8" src="" alt="">
            </div>
            <div class="btn-cards" id="div9" (click)="comprobar_carta(loteriaCarta8)">
                <img #loteriaCarta8 class="loteria-image" id="loteria-carta9" src="" alt="">
            </div>
        </div>
    </div>
    <div id="tablero"></div>
</div>